body {
    margin: 0px;
}

.headbar {
    width: 100%;
    height: 0px;
    margin: 0px;
    background-image: url('headbarbg.JPG');
}

.dhbar {
    display: table;
    margin: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.80);
    text-align: center;
    cursor: pointer;
    padding: 0;
}


.lbbar {
    height: 100%;
    margin: 0px;
    width: 100%;
}

.lbbarer {
    display: table-cell;
    width: 80px;
    color: white;
}




    .lbbarer:hover {
        background-color: black;
    }



.mainform {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0px;
    height: 314px;
    float: right;
    clear: right;
    overflow: hidden;
}

.centerframe {
    background-color: white;
}

.bottom {
    background-color: rgba(0, 0, 0, 0.80);
}

.centerdiv{
    padding: 10px ;
}